<div>
<p> PAÍS: @ViewBag.PaísBuscado.Nombre</p>
<p> POBLACIÓN: @ViewBag.PaísBuscado.Población millones</p>
<p>ATRACTIVO TURISTICO: @ViewBag.PaísBuscado.AtractivosTuristicos</p>
</div>
<a style="color: red;" href='@Url.Action("Index")'>VOLVER A LA PAGINA PRINCIPAL</a>
